button, input {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #f7f7fa;
    color: #5e5e5d;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
}

.form {
    margin-bottom: 25px;
    display: flex;
}

.form form{
    display: flex;
    align-items: center;
    flex: none;
}