html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #eceef4;
    font-family: "Segoe UI Light", "Trebuchet MS", sans-serif;
}

.application {
    display: flex;
    flex-direction: column;
}

.main {
    flex: auto;
}

.footer {
    justify-self: flex-end;
}

@media (max-width: 600px){
    /*html, body {*/
        /*font-size: 16px;*/
    /*}*/
}